@model WebDeApplication.Models.DashboardData

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DashboardData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalProfit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalProfit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PercentProfit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PercentProfit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PercentOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PercentOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCancel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCancel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PercentCancel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PercentCancel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDelay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDelay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PercentDelay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PercentDelay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
